{% extends "base.html" %}

{% block content %}
<link href="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.css" rel="stylesheet">
<style>
.table {
    margin: 0 auto;
    width: 80%;
}
</style>
<script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
<div class="container-fluid px-4">
    <h2 class="mt-4 mb-4 text-center">Общеобразовательная школа "Университетская"</h2>
    <div class="mb-4">
        <div class="col-12">
            <img src="img/school.jpg" alt="Университетская школа">
            <p>Образовательное учреждение «Университетская школа» Елабужского института КФУ<br><br>Функционирует с 01.09.2020г. в качестве школы «Университетская» и представляет собой оборудованное по последнему слову и требованиям цифровой эпохи образовательное учреждение.<br><br>
28 мая на Наблюдательном совете Казанского федерального университета под председательством Президента РТ Рустама Минниханова была одобрена инициатива ректора Ильшата Гафурова и руководителя Елабужского района Рустема Нуриева по созданию университетской школы. Так, обычная общеобразовательная школа №5 Елабуги пополнила уникальный университетский комплекс, в который уже входят два лицея и детский сад. Стоит отметить, что ни один российский университет не обладает такой полноуровневой и разноформатной площадкой для практики студентов и научных исследований.<br><br>
В школе «Университетская» работают 35 педагогов, среди них учителя высшей и первой квалификационной категории, молодые специалисты, обладатели грантов «Наш новый учитель» и «Наш лучший учитель», призёры конкурса «Учитель года», обладатели нагрудного знака «За заслуги в образовании».<br><br>
В школе учатся 465 ребят. Цель образовательного учреждения – воспитать талантливое молодое поколение с активной жизненной позицией, готовых к вызовам времени.<br><br>
Ещё одной важной особенностью учреждения является тесная интеграция высшего и среднего образования: так, на уроках с учителем и собучающимися будут тесно взаимодействовать студенты педагогических направлений Елабужского института КФУ.
                </p>
        </div>
    </div>
</div>
{% endblock %}
